@using SandalProject.Models;
@using SandalProject.Controllers;
@model Sandali;
@{
    Layout = "MainLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweaty Sandals - Product Page</title>
    <link rel="stylesheet" href="~/css/Dettagli.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <main>
        <div class="product-container">
            <div class="image-grid">
                <img src="/Dettagli/GetImage/id=@Model.Id&posizione=1" alt="Image 1">
                <img src="/Dettagli/GetImage/id=@Model.Id&posizione=2" alt="Image 2">
                <img src="/Dettagli/GetImage/id=@Model.Id&posizione=3" alt="Image 3">
                <img src="/Dettagli/GetImage/id=@Model.Id&posizione=4" alt="Image 4">
            </div>
            <div class="product-details">
                <div class="titolo">
                    <h2>@Model.Nome - €@(Model.Prezzo.ToString().Replace(".",","))</h2>
                    <p href="/WList/AggiungiWList/@(Model.Id)" class="far fa-heart" id="heart-icon" onclick="toggleHeart()"></p>
                    <!--Controllare se l'utente loggato ha wishlistato il sandalo-->
                </div>

                <div class="color-selection">
                    <p>Colore: </p>
                    <div class="colori">
                        <span class="colore" id="selected" style="--coloreSandalo:@Model.Colore"></span>
                        
                     @* @foreach()
                        {
                           //Gestire i colori per i sandali dello stesso tipo mettere come id da 1 a n 
                        } *@
                    </div>
                </div>

                <div class="size-selection">
                    <p>Taglia:</p>
                    <div class="sizes">
                        <span class="selected">@Model.Taglia</span>
                        @* @foreach()
                        {
                        //Stessa cosa per le taglie
                        } *@
                    </div>
                </div>

                <button href="/Carrello/AggiungiCarrello/@Model.Id" class="add-to-cart">Aggiungi al carrello</button>
                

                @{
                    string itemDesc = string.IsNullOrEmpty(Model.Descrizione) ? "default|default|default" : Model.Descrizione;

                    List<string> listDesc = itemDesc.Split('|').ToList();

                    string description = listDesc.ElementAt(0);

                    string details = listDesc.ElementAt(1);

                    string specifications = listDesc.ElementAt(2);

                }


                <div class="description">
                    @{
                        string[] descriptionArr = description.Split(";;");
                        <h3>@descriptionArr[0]</h3>
                        <p>@descriptionArr[1]</p>
                    }
                </div>

                <div class="details">
                    @{
                        string[] detailsArr = details.Split(";;");
                        <h3>@detailsArr[0]</h3>
                        <ul>
                            @{
                                Dictionary<string, string> detailsTable = new();

                                string key = "";
                                string value = "";

                                bool isValue = false;
                                foreach (char c in detailsArr[1])
                                {
                                    if (c != ' ' || c != '\n')
                                    {
                                        key+=c;

                                        if (isValue)
                                            value += c;
                                    }

                                    if (isValue)
                                    {
                                        isValue = false;
                                        detailsTable.Add(key, value);

                                        key = "";
                                        value = "";
                                    }
                                }
                            }
                            @foreach(KeyValuePair<string,string>detail in detailsTable)
                            {
                                <li><strong>@detail.Key</strong> @detail.Value</li>
                            }

                        </ul>
                    }
                </div>

                <div class="specifications">
                    @{
                        string[] specificationsArr = specifications.Split(";;");
                        <h3>@specificationsArr[0]</h3>
                    }
                    <ul>
                        @for (int i = 1; i < specificationsArr.Count(); i++)
                        {
                            <li>@specificationsArr[i]</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script src="~/js/Elenco/Dettagli.js"></script>
    
</body>
</html>