@using SandalProject.Models;
@model List<Sandali>;

@{
    Layout = "MainLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweaty Sandals</title>
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
                @{
                    if(Model.Count > 0)
                    {
                        int i = 0;
                        while(i < 3){
                            <div class="slide">
                                <div class="text">
                                    <h2>SOLO SANDALI</h2>
                                </div>
                                @if (Model[i].Immagine1 != null)
                                {
                                    <a href="/Dettagli/Dettagli/@Model[i].Id">
                                        <img src="/Dettagli/GetImage?id=@Model[i].Id&posizioneLista=0" alt="Image 1">
                                    </a>
                                }
                                else if (Model[i].Immagine2 != null)
                                {
                                    <a href="/Dettagli/Dettagli/@Model[i].Id">
                                        <img src="/Dettagli/GetImage?id=@Model[i].Id&posizioneLista=1" alt="Prodotto 1">
                                    </a>
                                }
                                else if (Model[i].Immagine3 != null)
                                {
                                    <a href="/Dettagli/Dettagli/@Model[i].Id">
                                        <img src="/Dettagli/GetImage?id=@Model[i].Id&posizioneLista=2" alt="Prodotto 1">
                                    </a>
                                }
                                else if (Model[i].Immagine4 != null)
                                {
                                    <a href="/Dettagli/Dettagli/@Model[i].Id">
                                        <img src="/Dettagli/GetImage?id=@Model[i].Id&posizioneLista=3" alt="Prodotto 1">
                                    </a>
                                }
                            </div>
                            i++;
                        }
                    }
                    else
                    {
                        <div class="slide"><div class="text"><h2>SOLO SANDALI</h2></div><img src="~/img/Extra/Transparent_Square.png" alt="Prodotto 1"></div>
                    }
                }   
            </div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <div class="seasons">
        <ul>
            <li onclick="window.location.href='/Elenco/Autunno/'">Autunno</li>
            <li onclick="window.location.href='/Elenco/Inverno/'">Inverno</li>
            <li onclick="window.location.href='/Elenco/Primavera/'">Primavera</li>
            <li onclick="window.location.href='/Elenco/Estate/'">Estate</li>
        </ul>
    </div>

    <section class="featured">

        <div class="categoria">
            <h3>In evidenza</h3>
            <h3 class="categoria-titolo"> Donna </h3>
        </div>

        <div class="product-grid">
            @{
                if(Model.Count > 0)
                {
                    int y = 0;

                    List<Sandali> donna = new();

                    foreach(Sandali s in Model)
                    {
                        if (s.Genere.Trim('\'').ToLower() == "donna")
                        {
                            donna.Add(s);
                        }
                    }

                    List<string> descrizioni = new();

                    foreach(Sandali s in donna)
                    {
                        string[] desc = s.Descrizione.Split("|");

                        string[] colonna1 = desc[0].Split(";;");

                        foreach (string c in colonna1)
                        {
                            string testo = colonna1[1];

                            descrizioni.Add(testo);
                        }
                    }

                    int charMax = 200;

                    while (y < 3)
                    {
                        <div class="product">
                            @if (@donna[y].Immagine1 != null)
                            {
                                <a href="/Dettagli/Dettagli/@donna[y].Id">
                                    <img src="/Dettagli/GetImage?id=@donna[y].Id&posizioneLista=0" alt="Prodotto 1">
                                </a>
                            }
                            else if (@donna[y].Immagine2 != null)
                            {
                                <a href="/Dettagli/Dettagli/@donna[y].Id">
                                    <img src="/Dettagli/GetImage?id=@donna[y].Id&posizioneLista=1" alt="Prodotto 1">
                                </a>
                            }
                            else if (@donna[y].Immagine3 != null)
                            {
                                <a href="/Dettagli/Dettagli/@donna[y].Id">
                                    <img src="/Dettagli/GetImage?id=@donna[y].Id&posizioneLista=2" alt="Prodotto 1">
                                </a>
                            }
                            else if (@donna[y].Immagine4 != null)
                            {
                                <a href="/Dettagli/Dettagli/@donna[y].Id">
                                    <img src="/Dettagli/GetImage?id=@donna[y].Id&posizioneLista=3" alt="Prodotto 1">
                                </a>
                            }
                            else
                            {
                                <img src="~/img/Extra/Transparent_Square.png" alt="Prodotto 1">
                            }
                            <div>
                                <p>@descrizioni[y].Substring(0, charMax)...</p>
                                <a href="/Carrello/InserisciCarrello?id=@donna[y].Id">Aggiungi +</a>
                            </div>
                        </div>
                        y++;
                    }
                }
            }
        </div>

    </section>
    <hr />
     <section class="featured">
        <div class="categoria">
            <h3 class="categoria-titolo"> Uomo </h3>
        </div>
        <div class="product-grid">
            @{
                if (Model.Count > 0)
                {
                    int y = 0;

                    List<Sandali> uomo = new();

                    foreach (Sandali s in Model)
                    {
                        if (s.Genere.Trim('\'').ToLower() == "uomo")
                        {
                            uomo.Add(s);
                        }
                    }

                    List<string> descrizioni = new();

                    foreach (Sandali s in uomo)
                    {
                        string[] desc = s.Descrizione.Split("|");

                        string[] colonna1 = desc[0].Split(";;");

                        foreach (string c in colonna1)
                        {
                            string testo = colonna1[1];

                            descrizioni.Add(testo);
                        }
                    }

                    int charMax = 200;
                    while (y < 3)
                    {
                        <div class="product">
                            @if (@uomo[y].Immagine1 != null)
                            {
                                <a href="/Dettagli/Dettagli/@uomo[y].Id">
                                    <img src="/Dettagli/GetImage?id=@uomo[y].Id&posizioneLista=0" alt="Prodotto 1">
                                </a>
                            }
                            else if (@uomo[y].Immagine2 != null)
                            {
                                <a href="/Dettagli/Dettagli/@uomo[y].Id">
                                    <img src="/Dettagli/GetImage?id=@uomo[y].Id&posizioneLista=1" alt="Prodotto 1">
                                </a>
                            }
                            else if (@uomo[y].Immagine3 != null)
                            {
                                <a href="/Dettagli/Dettagli/@uomo[y].Id">
                                    <img src="/Dettagli/GetImage?id=@uomo[y].Id&posizioneLista=2" alt="Prodotto 1">
                                </a>
                            }
                            else if (@uomo[y].Immagine4 != null)
                            {
                                <a href="/Dettagli/Dettagli/@uomo[y].Id">
                                    <img src="/Dettagli/GetImage?id=@uomo[y].Id&posizioneLista=3" alt="Prodotto 1">
                                </a>
                            }
                            else
                            {
                                <img src="~/img/Extra/Transparent_Square.png" alt="Prodotto 1">
                            }
                            <div>
                                <p>@descrizioni[y].Substring(0, charMax)...</p>
                                <a href="/Carrello/InserisciCarrello?id=@uomo[y].Id">Aggiungi +</a>
                            </div>
                        </div>
                        y++;
                    }
                }
            }
        </div>
    </section>
    <hr />

    <section class="featured">
        <div class="categoria">
            <h3 class="categoria-titolo"> Kids </h3>
        </div>
        <div class="product-grid">
            @{
                if (Model.Count > 0)
                {
                    int y = 0;

                    List<Sandali> bambino = new();

                    foreach (Sandali s in Model)
                    {
                        if (s.Genere.Trim('\'').ToLower() == "bambino")
                        {
                            bambino.Add(s);
                        }
                    }

                    List<string> descrizioni = new();

                    foreach (Sandali s in bambino)
                    {
                        string[] desc = s.Descrizione.Split("|");

                        string[] colonna1 = desc[0].Split(";;");

                        foreach (string c in colonna1)
                        {
                            string testo = colonna1[1];

                            descrizioni.Add(testo);
                        }
                    }
                    
                    int charMax = 200;
                    while (y < 3)
                    {
                        <div class="product">
                            @if (@bambino[y].Immagine1 != null)
                            {
                                <a href="/Dettagli/Dettagli/@bambino[y].Id">
                                    <img src="/Dettagli/GetImage?id=@bambino[y].Id&posizioneLista=0" alt="Prodotto 1">
                                </a>
                            }
                            else if (@bambino[y].Immagine2 != null)
                            {
                                <a href="/Dettagli/Dettagli/@bambino[y].Id">
                                    <img src="/Dettagli/GetImage?id=@bambino[y].Id&posizioneLista=1" alt="Prodotto 1">
                                </a>
                            }
                            else if (@bambino[y].Immagine3 != null)
                            {
                                <a href="/Dettagli/Dettagli/@bambino[y].Id">
                                    <img src="/Dettagli/GetImage?id=@bambino[y].Id&posizioneLista=2" alt="Prodotto 1">
                                </a>
                            }
                            else if (@bambino[y].Immagine4 != null)
                            {
                                <a href="/Dettagli/Dettagli/@bambino[y].Id">
                                    <img src="/Dettagli/GetImage?id=@bambino[y].Id&posizioneLista=3" alt="Prodotto 1">
                                </a>
                            }
                            else
                            {
                                <img src="~/img/Extra/Transparent_Square.png" alt="Prodotto 1">
                            }
                            <div>
                                <p>@descrizioni[y].Substring(0, charMax)...</p>
                                <a href="/Carrello/InserisciCarrello?id=@bambino[y].Id">Aggiungi +</a>
                            </div>
                        </div>
                        y++;
                    }
                }
            }
        </div>
    </section>
    <script src="~/js/Home.js"></script>
</body>
</html>